<!DOCTYPE html>
<html>
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/custom.js"></script>

    <title>My Lists</title>

    <!--Bootstrap-->
     <!--Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>

    <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->

    <script src="js/jquery.mmenu.min.all.js"></script>
    <link rel="stylesheet" href="css/jquery.mmenu.all.css">



    <!-- Twitter Bootstrap -->
    <!--<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Material Design for Bootstrap -->
    <!--<link href="dist/css/material-wfont.min.css" rel="stylesheet">-->
    <!--<link href="dist/css/ripples.min.css" rel="stylesheet">-->

    <!--Custom Assets-->

    <link rel="stylesheet" type="text/css" href="css/page.css" />
    <link rel="stylesheet" type="text/css" href="css/svgCheckboxImported.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/inputboxDemoComponent.css" />

    <link rel="stylesheet" type="text/css" href="css/inputboxComponent.css" />




    <link rel="stylesheet" href="css/custom.css">




</head>
<body ng-app="listView" ng-controller="itemsController">

<div id="menu">
    <a id="menuButton" href="#my-menu"><i class="fa fa-list list-5x"></i>  </a>




    <nav id="my-menu">
        <!--List of List Names-->
        <ul>
            <li
                    ng-repeat="list in lists"
                    ng-click="setCurrentList(list.oid)">
                <a >{{list.name}}</a>
                <!-- -->
            </li>
            <li>
                        <input type = "text" id = "listName" ng-keyup="$event.keyCode == 13 && createNewListAndUpdate()"></input>
                        <!-- replace with icon -->
                        <!--<button ng-click = "createNewListAndUpdate();">Create List</button>-->
            </li>
        </ul>
    </nav>
</div><!--Overall Wrapper for menu-->

<div id="page">
                <i class = "fa fa-times icon_times icon_red icon_removeList fa-4x" ng-click = "removeListAndUpdate()"></i>
    <div>


             <br>           <br>


            <!--List Info-->
        <h1  id="list_name"> {{itemList.listName}}</h1> 
            <!--<br>-->
            <!--Last modified: {{itemList.lastModified}}-->
            <!--<br><br>-->
            <list>
            	<!--<tr>-->
            		<!--<td><a>User Name</a></td>-->
            		<!--<td><input type = "text" id = "InviteUser" ng-model = "userIDField"></td>-->
            		<!--<td><button ng-click = "inviteUserToList(listID); resetUserName()">Invite User</button></td>-->
            	<!--</tr>-->
            <br><br>
                <tr>
                	<!--<td><a>Item Name</a></td>-->
                	<!--<td><input type = "text" id = "itemName"  ng-model = "itemNameInput"></td>-->
                	<!--<td><a>Item Quantity</a></td>-->
                	<!--<td><input type = "text" id = "itemQuantity"  ng-model = "itemQuantityInput"></td>-->
                	<!--&lt;!&ndash; add in ng-keyup="event=$event" with keycode = 13 for enter key &ndash;&gt;-->
                	<!--<td><button ng-click="addItemToList(listID,UserOID);resetItemAdd()">Add item</button>-->
                </tr>
            </list>
            <br><br>

        <!-- Modal -->
        <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                    </div>
                    <div class="modal-body"  >
                        <!--<tr>-->
                            <!--<td><input type = "text"  ng-model = "editField_itemName"></td>-->
                            <!--<td><input type = "text"  ng-model = "editField_quantity"></td>-->
                            <!--<td><input type = "text"  ng-model = "editField_price"></td>-->

                            <!--&lt;!&ndash;<td><input type = "text" id = "{{item.name}}itemPrice" value = "{{item.price}}"></td>&ndash;&gt;-->
                        <!--</tr>-->


                        <span class="input input--isao">
					        <input class="input__field input__field--isao" type="text" id="input-1" ng-model = "editField_itemName"/>
					        <label class="input__label input__label--isao" for="input-1" data-content="Item Name">
                                <span class="input__label-content input__label-content--isao">Item Name</span>
                            </label>
				        </span>
                         <span class="input input--isao">
					        <input class="input__field input__field--isao" type="text" id="input-2" ng-model = "editField_quantity"/>
					        <label class="input__label input__label--isao" for="input-2" data-content="Quantity">
                                <span class="input__label-content input__label-content--isao">Quantity</span>
                            </label>
				        </span>
                         <span class="input input--isao">
					        <input class="input__field input__field--isao" type="text" id="input-3" ng-model = "editField_price"/>
					        <label class="input__label input__label--isao" for="input-3" data-content="Price">
                                <span class="input__label-content input__label-content--isao">Price</span>
                            </label>
				        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                ng-click = "editItemAndUpdate(listID, editField_itemName, editField_oldItemName, UserOID, editField_isChecked, editField_price, editField_quantity )">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--    //editItem(listID, itemName, userName, checked, price, itemQuantity, callback)-->

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-1  col-lg-4"></div>
            <div class="col-md-6 col-sm-6 col-xs-10 col-lg-4">
                <!--<div class="well">-->
                    <!--<input type = "text" id = "itemName"  ng-model = "itemNameInput" >-->
                    <!-- add in ng-keyup="event=$event" with keycode = 13 for enter key -->
                    <!--<button ng-click="addItemToList(listID,UserOID);resetItemAdd()">Add item</button>-->

                <!--<section class="content bgcolor-4">-->
                <div class=" text-center">
				<span class="input input--kuro"  >
					<input class="input__field input__field--kuro" type="text" ng-keyup="$event.keyCode == 13 && addItemToList()" id = "itemName"  ng-model = "itemNameInput" />
					<label class="input__label input__label--kuro" for="itemName" >
                        <span class="input__label-content input__label-content--kuro" >Add Item</span>
                    </label>
				</span>
                    </div>

                <!--</section>-->


                <br>

                    <!--Items in List-->
                    <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                        <ul>


                    <div ng-repeat="item in itemList.items">
                            <div class="row">
                                <div class="col-md-12 no_padding" >

                                    <!--<div class="list-group" >-->

                                            <li><input id="c2" name="cb2" type="checkbox" ng-checked="item.isChecked" id="{{$index}}"
                                                       ng-model="checkedState"
                                                       ng-change="updateCheckedState( item,checkedState )" >
                                                    <label ng-click="showEditModal(listID, item.name, UserOID, item.isChecked, item.price, item.quantity )"
                                                        data-toggle="modal" data-target="#myModal{{item.name}}">{{item.name}}

                                                        <span ng-if="item.quantity > 1">x {{item.quantity}}</span>
                                                    </label>
                                                <i class = "fa fa-plus fa-3x plus_button" ng-click="changeItemQuantityByOne(listID, UserOID, item, 1)"></i>
                                                <i class = "fa fa-minus fa-3x minus_button" ng-click="changeItemQuantityByOne(listID, UserOID, item, -1)"></i>

                                                <i class="fa fa-trash-o fa-3x delete_button"

                                                   ng-click="removeItemAndUpdate(listID, item.name)">
                                                </i>



                                            </li>


                                        <!--<a class="list-group-item" >-->
                                        <!--<input type="checkbox" ng-checked="item.isChecked" id="{{$index}}"-->
                                               <!--ng-model="checkedState"-->
                                               <!--ng-change="updateCheckedState( item,checkedState )" >-->

                                        <!--<span  ng-click="showEditModal(5,5,5,5)" data-toggle="modal" data-target="#myModal{{item.name}}">{{item.name}}-->

                                        <!--<span  ng-click="showEditModal(listID, item.name, UserOID, item.isChecked, item.price, item.quantity )"-->
                                               <!--data-toggle="modal" data-target="#myModal{{item.name}}">{{item.name}}-->
                                            <!--Control if quantity should show. Do not display if quantity is <= 1 -->

                                        </span>


                                        <br>

                                    <!--</div>-->
                                </div>

                            </div>     <!--row-->

                        </div>    <!--Ng-repeat-->
                        </ul>
                    </form>

                    <br>

                <!--</div>-->

            </div>
            <div class="col-md-3 col-sm-4 col-xs-1 col-lg-4"></div>
        </div>
        
        <button ng-click = "removeAllCheckedItemsAndUpdate()">Remove Checked</button>
        </div>
    </div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.4.0/annyang.min.js"></script>

<script src="js/svgcheckbx.js"></script>

<script src="js/custom.js"></script>

<script src="js/controllers.js"></script>


<script type="text/javascript">


    $('#editItemModal').modal({ show: false})

    $(document).ready(function() {
        $("#my-menu").mmenu();
    });
</script>


<script src="js/classie.js"></script>
<script>
    (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function() {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
                classie.add( inputEl.parentNode, 'input--filled' );
            }

            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
                classie.remove( ev.target.parentNode, 'input--filled' );
            }
        }
    })();
</script>


<script>

</script>
</html>