<!DOCTYPE html>
<html>
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/custom.js"></script>

    <title>My Lists</title>

    <!--Bootstrap-->
     <!--Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="js/jquery.mmenu.min.all.js"></script>
    <link rel="stylesheet" href="css/jquery.mmenu.all.css">


    <!--Custom Assets-->
    <!--<link rel="stylesheet" href="css/custom.css">-->
    <script src="js/custom.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-app="listView" ng-controller="itemsController">
<div id="menu">
        <a href="#my-menu">Open the menu</a>


    <nav id="my-menu">
        <!--List of List Names-->
        <ul>
            <li
                    ng-repeat="list in lists"
                    ng-click="setCurrentList(list.oid)">
                <a >{{list.name}}</a>
            </li>

        </ul>
    </nav>
</div><!--Overall Wrapper for menu-->

<div id="page">

    <div>

             <br>           <br>

            <!--List Info-->
            Name of list: {{itemList.listName}}
            <br>
            Last modified: {{itemList.lastModified}}
            <br><br>
            <list>
            	<tr>
            		<td><a>User Name</a></td>
            		<td><input type = "text" id = "InviteUser" ng-model = "userIDField"></td>
            		<td><button ng-click = "inviteUserToList(listID); resetUserName()">Invite User</button></td>
            	</tr>
            <br><br>
                <tr>
                	<td><a>Item Name</a></td>
                	<td><input type = "text" id = "itemName"  ng-model = "itemNameInput"></td>
                	<td><a>Item Quantity</a></td>
                	<td><input type = "text" id = "itemQuantity"  ng-model = "itemQuantityInput"></td>
                	<!-- add in ng-keyup="event=$event" with keycode = 13 for enter key -->
                	<td><button ng-click="addItemToList(listID,UserOID);resetItemAdd()">Add item</button>
                </tr>
            </list>
            <br><br>

        <!-- Modal -->
        <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                    </div>
                    <div class="modal-body"  >
                        <tr>
                            <td><input type = "text"  ng-model = "editField_itemName"></td>
                            <td><input type = "text"  ng-model = "editField_quantity"></td>
                            <td><input type = "text"  ng-model = "editField_price"></td>

                            <!--<td><input type = "text" id = "{{item.name}}itemPrice" value = "{{item.price}}"></td>-->
                        </tr>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                ng-click = "editItemAndUpdate(listID, editField_itemName, editField_oldItemName, UserOID, editField_isChecked, editField_price, editField_quantity )">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--    //editItem(listID, itemName, userName, checked, price, itemQuantity, callback)-->


        <!--Items in List-->
            <div ng-repeat="item in itemList.items">

                <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
                <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
                    <!--Launch demo modal-->
                <!--</button>-->

                <!--&lt;!&ndash; Modal &ndash;&gt;-->
                <!--<div class="modal fade" id="myModal{{item.name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
                    <!--<div class="modal-dialog">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                <!--<h4 class="modal-title" id="myModalLabel">Edit Item</h4>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<tr>-->
                                    <!--<td><input type = "text" id = "{{item.name}}newItemName" value = "{{item.name}}" ng-model = "itemNameInput"></td>-->
                                    <!--<td><input type = "text" id = "{{item.name}}quantity" value = "{{item.quantity}}" ng-model = "itemQuantityInput"></td>-->
                                    <!--&lt;!&ndash;<td><input type = "text" id = "{{item.name}}itemPrice" value = "{{item.price}}"></td>&ndash;&gt;-->
                                <!--</tr>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                                <!--<button type="button" class="btn btn-primary"-->
                                        <!--ng-click = "editItemAndUpdate(listID, item.name, UserOID, item.isChecked, item.price)">-->
                                    <!--Save changes-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->




                <div class="list-group" style="width:25%">

                    <!--<a class="list-group-item" >-->
                        <input type="checkbox" ng-checked="item.isChecked" id="{{$index}}" ng-model="checkedState" ng-change="updateCheckedState( item.name,checkedState )" >

                        <!--<span  ng-click="showEditModal(5,5,5,5)" data-toggle="modal" data-target="#myModal{{item.name}}">{{item.name}}-->

                        <span  ng-click="showEditModal(listID, item.name, UserOID, item.isChecked, item.price, item.quantity )" data-toggle="modal" data-target="#myModal{{item.name}}">{{item.name}}
                            <!--Control if quantity should show. Do not display if quantity is <= 1 -->
                            <span ng-if="item.quantity > 1">x {{item.quantity}}</span>
                        </span>
                        <!--<button ng-click = "edit = ! edit">Edit Item</button>-->
                        <button ng-click="removeItemAndUpdate(listID, item.name)">Remove Item</button>
                        <br>
                        <!--<div ng-show = "edit">-->
                        	<!--<table border = "1">-->
	                    	    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
		                        	<!--&lt;!&ndash;<td><input type = "text" id = "{{item.name}}newItemName" value = "{{item.name}}"></td>&ndash;&gt;-->
		                        	<!--&lt;!&ndash;<td><input type = "text" id = "{{item.name}}quantity" value = "{{item.quantity}}"></td>&ndash;&gt;-->
		                            <!--&lt;!&ndash;&lt;!&ndash;<td><input type = "text" id = "{{item.name}}itemPrice" value = "{{item.price}}"></td>&ndash;&gt;&ndash;&gt;-->
		                        	<!--&lt;!&ndash;<td><button ng-click = "editItemAndUpdate(listID, item.name, UserOID, item.isChecked, item.price)">Confirm</button></td>&ndash;&gt;-->
	                        	<!--&lt;!&ndash;</tr>&ndash;&gt;-->
                        	<!--</table>-->
                        <!--</div>-->
                    <!--</a>-->

                </div>

            </div>
            <br>
            <button ng-click = "removeListAndUpdate(listID,UserOID)">Delete List</button>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('#editItemModal').modal({ show: false})

    $(document).ready(function() {
        $("#my-menu").mmenu();
    });
</script>
</html>