/*body {*/
    /*margin: 20px;*/
/*}*/

#jumboTop {
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.delete_button {
    float:right;
}


#list_name {
    text-align: center;
}