/*body {*/
    /*margin: 20px;*/
/*}*/

#jumboTop {
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.delete_button {
    float:right;
}

.plus_button{
    margin-left: 30px;
}



#list_name {
    text-align: center;
    color: #df6589;
    color: #2fa8ec;
    font-family: 'Raleway', Arial, sans-serif;


}


body {
    background-color: #333 ;

}

#menuButton{
    color: white;
    font-size: 40px;
    padding-left: 10%;
    padding-top: 50px;
    position: absolute;
}